{% extends "base.html" %}
{% block title %}{{ page.title }} | aptpass{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block og_title %}{{ page.title }}{% endblock %}
{% block og_desc %}{{ page.description }}{% endblock %}
{% block canonical %}https://aptpass.kr/{{ page.slug }}.html{% endblock %}
{% block robots %}<meta name="robots" content="index, follow">{% endblock %}
{% block content %}
<div class="container article-wrap">
  <article class="article">
    <h1>{{ page.title }}</h1>
    <div class="article-body">{{ page.html | safe }}</div>
  </article>
</div>
{% endblock %}
